<div data-tt-google-gmail-widget="gmailMessagesList" data-tt-google-template="gmailMessagesList">

</div>

<div data-tt-google-drive-widget="driveFileList" data-tt-google-template="driveFileList">

</div>

<!-- Library Inclusion -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/global.js"></script>
<script src="js/gmailWidgets.js"></script>
<script src="js/driveWidgets.js"></script>
<script src="https://apis.google.com/js/client.js?onload=initGoogleApiLibrary"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Handlebar.js templates -->
<script id="gmailMessagesList" type="text/x-handlebars-template">

	<div id="messages" class="well">

		<h2>Gmail messages</h2>

  		{{#each list}}
			<div>
				<a href="https://mail.google.com/mail/u/0/#inbox/{{id}}" target="_blank">
					{{{snippet}}}
				</a>
			</div>
  		{{/each}}
	</div>

</script>

<script id="driveFileList" type="text/x-handlebars-template">

	<div id="messages" class="well">

		<h2>Drive files</h2>

  		{{#each list}}
			<div>	
				<a href="{{alternateLink}}" target="_blank">
					{{{title}}}
				</a>
			</div>
  		{{/each}}
	</div>

</script>